.container-1{
    height: 500px;
    width: 600px;
    background-color: #F6F0D7;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.container-1 input, .container-1 textarea, .container-1 select {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.container-1 button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background: #9CAB84;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}