.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  /* important */
  height: auto;
  min-height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}

tbody {
  display: table-row-group; /* keeps height dynamic */
}
