body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  width: 450px;
  background: white;
  margin: 40px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

.error {
  color: red;
}

.navbar {
  background: black;

  padding: 15px;
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid #ddd;
}

.similar-box {
  background: #fff3cd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
